# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# PyCharm project files
.idea/
*.iml

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Test and coverage reports
.coverage
*.cover
.coverage.*
nosetests.xml
test_*.xml
*.cover

# Pytest
.cache
pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Type hints
pyrightconfig.json

# Others
*.swp  # vim swap files